:root {
  --header-height: 40px;
  --body-width: 98.4vw;
  --body-hwidth: 49.2vw;
  --green: #486B00;
  --red: #A43820;
  --light-red: #d64a2f;
  --blue: #336B87;
  --orange: #BA5536;
  --violet: #5D535E;
  --brown: #805A3B;
  --gray: #46464C;
  --light-gray: #CFD8DC;
}

@font-face {
  font-family: Comfortaa;
  src: url(comfortaa.woff2);
}

body {
  font-family: Comfortaa, sans-serif;
  font-size: 12px;
  color: white;
  background: #232326;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
h1 {
  font-size: 1.2rem;
}
h2 {
  color: rgba(255,255,255,0.7);
}
a {
  color: white;
}

.app {
  height: 5000vh;
}

header {
  width: var(--body-width);
  height: var(--header-height);
  line-height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  /* background: black; */
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav a {
  margin: 0 0.25rem;
}

.dashboard {
  width: var(--body-width);
  height: calc(100vh - var(--header-height));
  position: fixed;
  top: var(--header-height);
  left: 0;
}

.container {
  display: flex;
  width: 100%;
  height: calc((100vh - var(--header-height) - var(--body-hwidth))/3);
  box-sizing: border-box;
  flex-direction: row;
}
.container.primary {
  height: var(--body-hwidth);
}

.cell {
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0 0 0.4rem 0.4rem;
  padding: 0.6rem;
  position: relative;
  overflow: hidden;
  transition: opacity 0.5s;
  border-radius: 0.4rem;
  transition: transform 0.2s ease-in-out;
}
.cell.has-chart {
  cursor: pointer;
}
.cell.has-chart:hover {
  transform: translateY(-2px);
}
.cell.noData {
  opacity: 0.5;
}
.container.secondary .cell {
  width: 50%;
}
.container.tertiary .cell {
  width: 33.3333333333%;
}

.content {
  position: relative;
}
.content .title {
  height: calc((100vh - var(--header-height) - var(--body-hwidth))/12);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.content .value {
  padding-top: 1rem;
  font-size: 1.4rem;
  text-shadow: 0 2px 4px rgba(0,0,0,0.4);
}
.content .label,
.source {
  font-size: 0.8rem;
}
.source {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 0 1rem;
  z-index: 5;
  display: none;
  font-size: 0.7rem;
}
.source,
.source a {
  color: rgba(255,255,255,0.5);
}

#map {
  background: url(../img/land_shallow_topo_8192.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}
.map-highlight {
  position: absolute;
  width: 100%;
  height: 1.111111111111%;
  box-shadow: 0 0 0 50vh rgba(0,0,0,0.5);
}
.map-label {
  position: absolute;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  bottom: -2.5rem;
  font-size: 2rem;
  text-shadow: 0 2px 4px rgba(0,0,0,0.4);
}
.map-label.below {
  bottom: auto;
  top: -2.5rem;
}

#surface {
  padding: 0;
}
#surface .source {
  transform-origin: right top;
  transform: rotate(90deg);
  width: auto;
  width: 98.5%;
  bottom: 0;
}
#surface .source,
#surface .source a {
  color: rgba(0,0,0,0.5);
}
.pie {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}
.pie > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--green);
  z-index: 2;
  position: relative;
}
.pie > div:nth-child(2) {
  background: var(--blue);
  z-index: 1;
}
.pie > div:last-child {
  flex-grow: 1;
  background: var(--light-gray);
  color: black;
  z-index: 2;
}
.pie .label {
  width: 25%;
  text-align: right;
  box-sizing: border-box;
  padding-right: 1rem;
}
.pie .value {
  width: 30%;
  font-size: 2rem;
  text-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

#cities {
  background: var(--gray);
  padding: 1rem;
  box-sizing: border-box;
}
.list {
  margin-top: 1rem;
}
.list > div {
  white-space: nowrap;
  padding: 0.25rem 0;
}

.bar {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  transform-origin: center bottom;
}
.container.tertiary .cell:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
#population,
#population .bar {
  background: var(--blue);
}
#temperature,
#temperature .bar {
  background: var(--orange);
}
#vegetation,
#vegetation .bar {
  background: var(--green);
}
#gdp,
#gdp .bar {
  background: var(--violet);
}
#emissions,
#emissions .bar {
  background: var(--brown);
}
#anomaly,
#anomaly .bar {
  background: var(--red);
}

.modal {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal > div {
  overflow: hidden;
  overflow-y: auto;
  max-width: 660px;
  width: auto;
  padding: 1rem 1rem 5rem;
  position: relative;
}
.modal.active {
  display: flex;
}
.modal h2 {
  font-size: 2rem;
  color: white;
  font-weight: normal;
  line-height: 1.3;
}
.modal h2 strong {
  font-weight: bold;
}
.modal button {
  cursor: pointer;
  font-size: 2.2rem;
  border: none;
  background: var(--red);
  color: white;
  padding: 0.33rem 2rem;
  margin: 1rem 0 2rem;
  border-radius: 0.4rem;
}
.modal button:hover {
  background: var(--light-red);
}
.modal p {
  font-size: 1rem;
  letter-spacing: 0.01rem;
  color: rgba(255,255,255,0.8);
  line-height: 1.5;
}

.modal > div.chart-content {
  padding: 0;
}
.chart {
  overflow: visible;
}
.chart img {
  width: 100%;
  height: auto;
}
.chart-bounds {
  position: absolute;
}
.chart-line {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 0.25rem;
  background: var(--red);
  margin-top: -0.125rem;
}
.chart-label {
  height: 2rem;
  line-height: 2rem;
  top: -2rem;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: right;
  color: black;
  font-size: 1.4rem;
}

@media screen and (orientation: landscape) {
  .container,
  .container.primary {
    height: calc((100vh - var(--header-height))/2);
    float: left;
    width: 50%;
  }
  .container.primary {
    width: calc(100vh - var(--header-height));
  }
  .container.secondary {
    width: calc(var(--body-width) - (100vh - var(--header-height)));
  }
  .content .title {
    height: calc((100vh - var(--header-height))/8);
  }
  .content .value {
    font-size: 2.4rem;
  }
  .source {
    display: block;
  }
}
