:root {
  --header-height: 40px;
  --green: #2E7D32;
  --red: #B71C1C;
  --blue: #0277BD;
  --orange: #E65100;
  --violet: #512DA8;
  --brown: #795548;
  --gray: #455A64;
  --light-gray: #CFD8DC;
}

body {
  font: 16px sans-serif;
  color: white;
  background: #232326;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
h1 {
  font-size: 1.2rem;
}
h2 {
  color: rgba(255,255,255,0.7);
}
a {
  color: white;
}

.app {
  height: 2000vh;
}

header {
  width: 100%;
  height: var(--header-height);
  line-height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard {
  width: 100vw;
  height: calc(100vh - var(--header-height));
  position: fixed;
  top: var(--header-height);
  left: 0;
}

.container {
  display: flex;
  width: 100%;
  height: calc((100vh - var(--header-height) - 50vw)/3);
  box-sizing: border-box;
  flex-direction: row;
}
.container.primary {
  height: 50vw;
}

.cell {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  transition: opacity 0.5s;
}
.cell.noData {
  opacity: 0.5;
}
.container.secondary .cell {
  width: 50%;
}
.container.tertiary .cell {
  width: 33.3333333333%;
}

.content {
  position: relative;
}
.content h2 {
  height: calc((100vh - var(--header-height) - 50vw)/9);
}
.content .value {
  font-size: 3rem;
}
.content .label {
  font-size: 0.8rem;
}

#map {
  background: url(../img/land_shallow_topo_8192.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}
.map-highlight {
  position: absolute;
  width: 100%;
  height: 0.5555555555555%;
  box-shadow: 0 0 0 50vh rgba(0,0,0,0.5);
}
.map-label {
  position: absolute;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  bottom: -2rem;
}
.map-label.below {
  bottom: auto;
  top: -2rem;
}

#surface {
  display: flex;
  flex-direction: column;
  padding: 0;
}
#surface > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--green);
  z-index: 2;
  position: relative;
}
#surface > div:nth-child(2) {
  background: var(--blue);
  z-index: 1;
}
#surface > div:last-child {
  flex-grow: 1;
  background: var(--light-gray);
  color: black;
  z-index: 2;
}
#surface .label {
  width: 15%;
}
#surface .value {
  width: 20%;
  font-size: 2rem;
}
#cities {
  background: var(--gray);
  padding: 1rem;
  box-sizing: border-box;
}
#cities .list {
  margin-top: 1rem;
}
#cities .list > div {
  white-space: nowrap;
  padding: 0.25rem 0;
}

.bar {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  transform-origin: center bottom;
}
.container.tertiary .cell:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
#population,
#population .bar {
  background: var(--blue);
}
#temperature,
#temperature .bar {
  background: var(--orange);
}
#vegetation,
#vegetation .bar {
  background: var(--green);
}
#gdp,
#gdp .bar {
  background: var(--violet);
}
#emissions,
#emissions .bar {
  background: var(--brown);
}
#anomaly,
#anomaly .bar {
  background: var(--red);
}

@media screen and (orientation: landscape) {
  .container,
  .container.primary {
    height: calc((100vh - var(--header-height))/2);
    float: left;
    width: 50%;
  }
  .container.primary {
    width: calc(100vh - var(--header-height));
  }
  .container.secondary {
    width: calc(100vw - (100vh - var(--header-height)));
  }
  .content h2 {
    height: calc((100vh - var(--header-height))/6);
  }
}
