:root {
  --header-hheight: 40px;
  --header-height: 60px;
  --body-width: 98.4vw;
  --body-hwidth: 49.2vw;

  --font-size-xsmall: 1.5vmin;
  --font-size-small: 2vmin;
  --font-size-medium: 3vmin;
  --font-size-large: 4vmin;
  --font-size-xlarge: 5vmin;

  --green: #486B00;
  --red: #A43820;
  --light-red: #d64a2f;
  --blue: #336B87;
  --orange: #BA5536;
  --violet: #5D535E;
  --brown: #805A3B;
  --gray: #46464C;
  --light-gray: #CFD8DC;
  --dark-gray: #232326;
  --yellow: #ffd402;
}

@font-face {
  font-family: Comfortaa;
  src: url(comfortaa.woff2);
}

body {
  font-family: Comfortaa, sans-serif;
  font-size: 12px;
  color: white;
  background: var(--dark-gray);
}

h1,
h2 {
  margin: 0;
  padding: 0;
  letter-spacing: 0.1rem;
}
h2 {
  color: rgba(255,255,255,0.7);
}
a {
  color: white;
}

.app {
  height: 5000vh;
}

header {
  width: var(--body-width);
  height: var(--header-height);
  line-height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  /* background: black; */
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
nav a {
  margin: 0 0.25rem;
}
nav a:first-child {
  margin-left: 0;
}

.dashboard {
  width: var(--body-width);
  height: calc(100vh - var(--header-height));
  position: fixed;
  top: var(--header-height);
  left: 0;
}

.container {
  display: flex;
  width: 100%;
  height: calc((100vh - var(--header-height) - var(--body-hwidth))/3);
  box-sizing: border-box;
  flex-direction: row;
}
.container.primary {
  height: var(--body-hwidth);
}

.cell {
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0 0 0.4rem 0.4rem;
  padding: 0.6rem;
  position: relative;
  overflow: hidden;
  transition: opacity 0.5s;
  border-radius: 0.4rem;
  transition: transform 0.2s ease-in-out;
}
.cell.noData {
  opacity: 0.5;
}
.container.secondary .cell {
  width: 50%;
}
.container.tertiary .cell {
  width: 33.3333333333%;
}

.content {
  position: relative;
}
.content .title {
  height: calc((100vh - var(--header-height) - var(--body-hwidth))/12);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.content .value {
  display: block;
  text-decoration: none;
  padding-top: 1rem;
  text-shadow: 0 2px 4px rgba(0,0,0,0.4);
}
.content .value:hover {
  text-decoration: underline;
}

.source {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 0 1rem;
  z-index: 5;
  display: none;
}
.source,
.source a {
  color: rgba(255,255,255,0.5);
}

.sound-label {
  position: absolute;
  top: 0.8rem;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  z-index: 5;
  text-transform: uppercase;
  letter-spacing: 0.2vmin;
  color: rgba(255,255,255,0.5);
}

#map {
  background: url(../img/land_shallow_topo_8192.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}
.map-highlight {
  position: absolute;
  width: 100%;
  height: 1.111111111111%;
  box-shadow: 0 0 0 50vh rgba(0,0,0,0.5);
}
.map-label {
  position: absolute;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  bottom: -2.5rem;
  text-shadow: 0 2px 4px rgba(0,0,0,0.4);
}
.map-label.below {
  bottom: auto;
  top: -2.5rem;
}

#surface {
  padding: 0;
}
#surface .source {
  transform-origin: right top;
  transform: rotate(90deg);
  width: auto;
  width: 98.5%;
  bottom: 0;
}
#surface .source,
#surface .source a {
  color: rgba(0,0,0,0.5);
}
.pie {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}
.pie > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--green);
  z-index: 2;
  position: relative;
}
.pie > div:first-child {
  border-bottom: 0.2rem solid var(--dark-gray);
}
.pie > div:nth-child(2) {
  background: var(--blue);
  z-index: 1;
}
.pie > div:last-child {
  flex-grow: 1;
  background: var(--light-gray);
  z-index: 2;
  border-top: 0.2rem solid var(--dark-gray);
}
.pie > div:last-child,
.pie > div:last-child a {
  color: black;
}
.pie .label {
  width: 25%;
  text-align: right;
  box-sizing: border-box;
  padding-right: 1rem;
}
.pie .value {
  width: 30%;
  text-shadow: 0 2px 4px rgba(0,0,0,0.4);
  text-decoration: none;
}
.pie .value:hover {
  text-decoration: underline;
}

#cities {
  background: var(--gray);
  padding: 1rem;
  box-sizing: border-box;
}
#cities .content {
  height: calc((100vh - var(--header-height) - var(--body-hwidth))/3 - 40px);
  overflow: hidden;
}
#cities .content .list {

}
.list {
  margin-top: 1rem;
  overflow: hidden;
}
.list > div {
  white-space: nowrap;
  padding: 0.25rem 0;
}

.bar {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  transform-origin: center bottom;
}
.container.tertiary .cell:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
#population,
#population .bar {
  background: var(--blue);
}
#temperature,
#temperature .bar {
  background: var(--orange);
}
#vegetation,
#vegetation .bar {
  background: var(--green);
}
#gdp,
#gdp .bar {
  background: var(--violet);
}
#emissions,
#emissions .bar {
  background: var(--brown);
}
#anomaly,
#anomaly .bar {
  background: var(--red);
}

.modal {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  visibility: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.modal > div {
  overflow: hidden;
  overflow-y: auto;
  max-width: 660px;
  width: auto;
  padding: 1rem 1rem 5rem;
  position: relative;
}
.modal.active {
  z-index: 1000;
  visibility: visible;
}
.modal h2 {
  color: white;
  font-weight: normal;
  line-height: 1.5;
}
.modal h2 strong {
  font-weight: bold;
}
.modal h2 em {
  font-style: normal;
  background: var(--yellow);
  color: black;
  display: inline-block;
  padding: 0.1rem 0.5rem;
  margin-top: 0.5rem;
}
.modal button {
  cursor: pointer;
  border: none;
  background: var(--red);
  color: white;
  padding: 0.6rem 2rem 0.33rem;
  margin: 1rem 0 2rem;
  border-radius: 0.4rem;
}
.modal button:hover {
  background: var(--light-red);
}
.modal p {
  letter-spacing: 0.01rem;
  color: rgba(255,255,255,0.8);
  line-height: 1.5;
}

.chart > div {
  height: 80vh;
  width: 100%;
  overflow: visible;
  padding: 1rem 2rem;
}
.chart-container {
  width: 100%;
  height: 66.67vh;
  position: relative;
}
.chart svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: visible;
}
.chart svg > g,
.chart .dataLine {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.chart .dataLine {
  fill: none;
  stroke: var(--red);
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 2;
}
.chart-line {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 2px;
  background: rgba(255,255,255,0.5);
  margin-top: -1px;
}
.chart-label {
  height: 2rem;
  line-height: 2rem;
  top: -1rem;
  position: absolute;
  width: 10vw;
  color: white;
  text-align: left;
  right: -11vw;
}
.chart-label:first-child {
  right: auto;
  left: -11vw;
  text-align: right;
}
.chart-circle {
  position: relative;
  width: 12px;
  height: 12px;
  background: var(--yellow);
  border-radius: 6px;
  top: 50%;
  margin-top: -6px;
  margin-left: -6px;
}
.chart button.modal-close,
.map button.modal-close {
  margin: 0;
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding-top: 0.3rem;
}
.chart p {
  padding-top: 1rem;
}

.map > div {
  width: 60vw;
  overflow: visible;
  padding: 1rem 2rem;
  max-width: none;
}
.map-container {
  width: 100%;
  height: 30vw;
  position: relative;
  background: url(../img/BlankMap-Equirectangular.svg.png) no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.map-lat {
  position: absolute;
  left: -6vw;
  width: 5vw;
  height: 2rem;
  line-height: 2rem;
  margin-top: -1rem;
  color: white;
  text-align: right;
}
.map-labels > div {
  position: absolute;
  width: 0.2vw;
  height: 0.2vw;
  margin-left: -0.1vw;
  margin-top: -0.1vw;
  background: var(--yellow);
  border-radius: 50%;
}
.map-labels > div > div {
  position: absolute;
  left: 0.1vw;
  top: 0.2vw;
  width: 10vw;
  white-space: nowrap;
  border-left: 1px solid var(--yellow);
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.map-labels > div > div.above {
  align-items: flex-start;
  top: auto;
  bottom: 0.2vw;
}
.map-labels > div > div > div {
  margin-left: 0.2rem;
  margin-bottom: -0.5rem;
}

/* font sizes in the same place */

h1,
h2 {
  font-size: var(--font-size-small);
}
.content .label,
.source,
.sound-label {
  font-size: var(--font-size-xsmall);
}
.content .value {
  font-size: var(--font-size-large);
}
.chart-label,
.map-lat {
  font-size: var(--font-size-medium);
}
.map-label {
  font-size: var(--font-size-medium);
}
.pie .label {
  font-size: var(--font-size-small);
}
.pie .value {
  font-size: var(--font-size-large);
}
.modal h2 {
  font-size: var(--font-size-large);
}
.modal p {
  font-size: var(--font-size-small);
}
.modal button {
  font-size: var(--font-size-medium);
}
.chart button.modal-close {
  font-size: var(--font-size-small);
}
.map-labels > div > div {
  font-size: var(--font-size-xsmall);
}

@media screen and (orientation: portrait) {
  header h1 {
    font-size: var(--font-size-medium);
  }
  header h1,
  header nav {
    display: flex;
    flex-grow: 1;
    line-height: calc(var(--header-height)/2);
  }
  .chart > div {
    box-sizing: border-box;
  }
  .chart-label {
    top: -2.5rem;
    width: 100%;
    text-align: right;
    left: 0;
    right: auto;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  .chart-label:first-child {
    left: 0;
    right: auto;
    text-align: left;
  }
}

@media screen and (orientation: landscape) {
  header {
    height: var(--header-hheight);
    line-height: var(--header-hheight);
    flex-direction: row;
    justify-content: space-between;
  }
  .dashboard {
    height: calc(100vh - var(--header-hheight));
    top: var(--header-hheight);
  }
  .container,
  .container.primary {
    height: calc((100vh - var(--header-hheight))/2);
    float: left;
    width: 50%;
  }
  .container.primary {
    width: calc(100vh - var(--header-hheight));
  }
  .container.secondary {
    width: calc(var(--body-width) - (100vh - var(--header-hheight)));
  }
  .content .title {
    height: calc((100vh - var(--header-hheight))/8);
  }
  .source {
    display: block;
  }
  #cities .content {
    height: calc((100vh - var(--header-hheight))/2 - 40px);
  }
}
